.hamburger{
    &__overlay,  &__menu{
      opacity: 0;
      z-index:  -1;
  }
  &.open   &__overlay,  &__menu{
    opacity: 1;
    z-index: 1000;
}
   &.open   &__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   background-color: rgba($color: $color-dark-3xl, $alpha: 0.6); 
}
&.open   &__menu{
  right: 0;
}
&.hide  &__overlay,  &__menu{
  opacity: 1;
  z-index: 1000;
}
&.hide   &__overlay{
  background-color: rgba($color: $color-dark-3xl, $alpha: 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
&.hide   &__menu{
  right: -330px;
}

     &__overlay{
      display: flex;
      align-items: flex-end;
      background-color: rgba($color: $color-dark-3xl, $alpha: 0);
      transition: background-color .3s ease-in;
     }
     &__menu{
    position: fixed;
     width: 320px;
     height: 100vh;
     background-color: $color-dark-3xl;
     display: flex;
     flex-direction: column;
     right: -330px;
     transition: right .3s ease-in;
     }  
     &__nav{
      @include centerFlex;
      flex-direction: column;
      flex-basis: 100%;
      width: 320px;
      & > li{
        padding-bottom: 45px;
      }
     }
     &__nav-link{
      @include fonttext(3rem, 4.12rem);
      color: $color-light-s;
      padding-bottom: 45px;
      opacity: .8;
     }
     &__nav-link_active{
    position: relative;
     opacity: 0.8;
      &:after{
        content: '';
        position: absolute;
        top: 53%;
        left: 4px;
        width: 94%;
        height: 3px;
        background-color: $color-primary;
       }

    }
   }
   .burger-btn_inside{
    //  animation: rotate .3s easy;
    transform: rotate(0deg);
    transition: transform .3s ease-in;
    padding-top: 0;
    padding-right: 0;
    cursor: pointer;
    .span1, .span2, .span3{
      background-color: $color-primary;
      width: 29px;
      height: 3.5px;
      margin: 6px 0;
    }
   }
   .burger-logo{
    padding-right: 35px;
    h2{ 
      a{
      @include fontHeader(3.2rem, 3.52rem, 0.1rem);
      color: $color-primary;
      }
      
    }
    p{
      a{
      color: $color-light-xl;
      @include fonttext(1.3rem, 1.5rem, 0.1rem)
      }
    }
   }
   .burger-logo__wrapper{
      padding: 30px 10px 0 10px;
      width: 320px;
      display: flex;  
    }
    .open{
      .burger-btn_inside{
        transform: rotate(90deg);
    }}
    .hide{
      .burger-btn_inside{
        transform: rotate(-90deg);
    }}
