.modal-open {
overflow: hidden;
height: 100vh;
}

.modal-close {
    overflow: auto;
    height: 100%;
}

.modal__overlay, .modal__window {
  opacity: 0;
  z-index:  -1;
}

.modal.open .modal__overlay {
  opacity: 1;
  z-index: 1000;
}

.modal.open .modal__window {
  opacity: 1;
  z-index: 1000;
}

.modal.open .modal__overlay {
  display: block  !important;
  background-color: rgba(0, 0, 0, .5);
}

.modal.open .modal__window {
  transform: translateY(80%);
}

.modal.hide .modal__overlay {
  opacity: 1;
  z-index: 1000;
}

.modal.hide .modal__window {
  opacity: 1;
  z-index: 1000;
}


.modal.hide .modal__overlay {
  background-color: rgba(0, 0, 0, 0);
  display: block !important;
}

.modal.hide .modal__window {
  transform: translateY(-200px);
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color .3s ease-in;
  cursor: pointer;
  display: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
}

.modal__window {
  margin: 0 auto;
  transform: translateY(-200px);
  transition: transform .3s ease-in;
  width: 280px;
  background: #fff;
  border-radius: 7px;
  cursor: default;
}

.modal__header {
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  background-color: rgb(245,242,51);;
  display: flex;
  justify-content: flex-end;
}

.close_btn {
  font-size: 23px;
  font-weight: 700;
  cursor: pointer;
  color: white;
}

.modal__content {
  padding: 10px 30px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.congrats {
  font-size: 21px;
  margin-bottom: 10px;
}

.buttons__wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.modal__btn {
  display: flex;
  width: 50px;
  height: 25px;
  background-color: rgb(245,242,51);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 0 5px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: translateX(0)
}

.menu__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: transparent;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu__link {
  font-size: 1.5rem;
 color: chartreuse;
  padding: 10px;
  cursor: pointer;
  text-shadow: 2px -2px 2px black, 0 0 7px;
}

.hidden {
  transform: translateX(-100%);
  visibility: hidden;
}

.menu-header {
  font-size: 1.5rem;
  color: chartreuse;
  padding: 10px;
}

.settings-page, .best-score, .saved-games {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

@media(max-width: 500px) {
  .settings-page, .best-score, .saved-games {
      padding: 8px;
  }

  .menu__link {
      font-size: 1.2rem;
  }

  .menu-text_small {
      font-size: 0.8rem;
  }
}

.menu-text_big {
  font-size: 1.2rem;
  color: chartreuse;
  padding: 2px;
}

.menu-text_small {
  font-size: 1rem;
  color: chartreuse;
  padding: 2px;
}

.sound {
  cursor: pointer;
}

.best-score_link, .saved-games_link {
  display: flex;
  justify-content: space-evenly;
}

.best-score_list, .saved-games_list {
  width: 100%;
}

.parent {
  position: relative;
  width: 100%;
  height: 100%;
}

#back {
  cursor: pointer;
}

.state-btn {
    font-size: 18px;
    cursor: pointer;
}

.settings-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 19px;
    padding: 20px;
    cursor: pointer;
}

.gamefield {
  margin: auto;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  background-color: rgba(245,242,51, .7);
  box-sizing: border-box;
  box-shadow: 4px 7px 12px rgba(0,0,0,0.5);
}

.fieldcell {
position: absolute;
box-sizing: border-box;
border-radius: 3px;
cursor: pointer;
font-size: 40px;
display: flex;
align-content: center;
justify-content: center;
user-select: none;
color: #fff;
align-items: center;
text-shadow: 1px 1px 2px black, 0 0 5px black;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin:100px auto;
}

.gameSettings-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0px 10px;
}

*{margin:0;padding:0;box-sizing:border-box}a{text-decoration:none}body{width:100%;height:100%;background:#f5f233;background:linear-gradient(90deg, rgba(245,242,51,0.978886) 31%, #65d633 100%)}

