* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

img {
  vertical-align: top;
}

body {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

:root {
  font-size: 10px;
}

header, main, footer {
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

.header_wrapper {
  z-index: 100;
  padding: 6rem 0;
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav-link {
  display: inline-block;
  padding-left: 3.6rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: normal;
  color: #CDCDCD;
}

.header .active-link {
  color: #FAFAFA;
}

.header_logo h1 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.2rem;
  line-height: 107%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  padding-bottom: 1rem;
}

.header_logo p {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.95rem;
  letter-spacing: 0.126rem;
  color: #FFFFFF;
  padding-left: 4px;
}

.start-screen {
  height: 100%;
}

.start-screen__background {
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 18rem;
}

.start-screen_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.start-screen_text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 42%;
  margin-top: 163px;
  padding-right: 4.2rem;
}

.start-screen_text-content h2 {
  max-width: 310px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.4rem;
  line-height: 130%;
  letter-spacing: normal;
  color: #FFFFFF;
  margin-bottom: 4.2rem;
}

.start-screen_text-content p {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: normal;
  color: #CDCDCD;
  margin-bottom: 4.2rem;
}

.start-screen_text-content a {
  display: block;
  padding: 1.5rem 0px 0px 4.5rem;
  width: 207px;
  height: 52px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 107%;
  letter-spacing: 0.06rem;
  background: #F1CDB3;
  border-radius: 100px;
  color: #292929;
}

.start-screen_text-content a:hover {
  background-color: #FDDCC4;
}

.start-screen_img {
  overflow: hidden;
}

.start-screen_img img {
  width: 100%;
  height: 100%;
}

.about {
  padding: 80px 0 100px;
  background-color: #FFFFFF;
}

.about__wrapper {
  padding: 0  14.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img {
  padding-right: 10%;
  -ms-flex-preferred-size: 45.5%;
      flex-basis: 45.5%;
}

.about__img img {
  width: 100%;
}

.about__content {
  padding-left: 4%;
  padding-top: 2%;
  -ms-flex-preferred-size: 54%;
      flex-basis: 54%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content h2 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
  margin-bottom: 2.08%;
  max-width: 80%;
}

.about__content p {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2.4rem;
  letter-spacing: normal;
  color: #4C4C4C;
  margin-bottom: 3.08%;
}

.pets {
  background: #F6F6F6;
  padding: 80px 0 100px;
}

.pets__heading h2 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  text-align: center;
  color: #545454;
}

.pets__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.pets__content {
  margin: 5% 4%;
  width: 89.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pets__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__arrow .left {
  justify-self: flex-start;
}

.pets__arrow .right {
  right: 0;
}

.pets__arrow .arrow-link_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: solid 0.2rem #CDCDCD;
  color: #CDCDCD;
}

.pets__arrow .arrow-link_disabled {
  border: solid 0.2rem #CDCDCD;
  color: #CDCDCD;
}

.pets__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pets__link a {
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.07rem;
  text-align: center;
  display: block;
  color: #292929;
  padding: 1.5rem  4.5rem;
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
}

.pets__link a:hover {
  background-color: #FDDCC4;
}

.pet-card {
  width: 27.5%;
  height: 435px;
  padding: 30px 40px;
  background-color: #FAFAFA;
  border-radius: 9px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pet-card span {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.12rem;
  color: #545454;
}

.pet-card a {
  display: block;
  padding: 15px 45px;
  border: 2px solid #F1CDB3;
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 104%;
  letter-spacing: 0.1rem;
  border-radius: 100px;
  color: #292929;
}

.help {
  padding: 6.7% 0 3.5%;
  background-color: #FFFFFF;
}

.help__heading {
  margin-bottom: 5%;
}

.help__heading h2 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 4.1rem;
  letter-spacing: 0.21rem;
  color: #545454;
  text-align: center;
}

.help__content {
  padding: 0 7.25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.help__content :nth-child(even) {
  padding: 0 11.5% 5% 11.6%;
}

.help__content :nth-child(6) {
  padding: 0 12.5% 5% 7.5%;
}

.help__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__content-block img {
  margin-bottom: 30px;
}

.help__content-block h3 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.donation {
  padding: 6% 0 8.3%;
  background-color: #F6F6F6;
}

.donation__content-wrapper {
  padding: 0 11.83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.donation__img {
  padding: 1%;
}

.donation .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1.54%;
}

.donation .content__title {
  max-width: 80%;
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 4.55rem;
  letter-spacing: 0.21rem;
  color: #545454;
}

.donation .content__subtitle {
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.65rem;
  letter-spacing: 0.09rem;
  color: #545454;
}

.donation .content__card {
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  padding: 1rem 0 0 1.5rem;
  border-radius: 9px;
}

.donation .content__card a {
  margin-left: 1.1rem;
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: normal;
  letter-spacing: 0.1rem;
  color: #545454;
  cursor: pointer;
}

.donation .content__paragraph {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: normal;
  font-style: italic;
  color: #B2B2B2;
}

.footer__background {
  background: url(../../assets/images/footer-background.svg) no-repeat;
  background-size: cover;
  padding-top: 3.33%;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.footer__content .contacts, .footer__content .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__content .contacts {
  max-width: 24.17%;
}

.footer__content .location {
  max-width: 25.17%;
}

.footer__content .location h3 {
  margin-bottom: 35px;
}

.footer__content .location ul > li {
  padding-bottom: 36px;
}

.footer__content-title {
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 4.55rem;
  letter-spacing: 0.21rem;
  color: #FFFFFF;
  margin-bottom: 43px;
  padding-top: 4%;
}

.footer__content-list > li {
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__content-link {
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.12rem;
  padding-left: 20px;
  color: #F1CDB3;
}
