*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
}
.gamefield{
    margin: auto;
    position: relative;
    /* width: 400px;
    height: 400px; */
    overflow: hidden;
   border: black 1px solid;
    box-sizing: border-box;
    box-shadow: 4px 7px 12px rgba(0,0,0,0.5);
}
.fieldcell{
position: absolute;
box-sizing: border-box;
cursor: pointer;
font-size: 40px;
display: flex;
align-content: center;
justify-content: center;
user-select: none;
color: #fff;
align-items: center;
text-shadow: 1px 1px 2px black, 0 0 5px black;
}
.game-wrapper{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin:100px auto;
}
.gameSettings-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0px 10px;
}
.state-btn{
    font-size: 18px;
    cursor: pointer;
}
.settings-btn{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 19px;
    padding: 20px;
    cursor: pointer;
}
.form{
    display: flex;
    flex-direction: column;
}
.label{
    margin: 0 5px;
}
/* .menu__wrapper{
position: fixed;
top: 205px;
left: calc(50% - 200px);
background-color: rgba(0, 0, 0, .8);
height: 400px;
width: 400px;
} */
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    z-index: 100;
    transform: translateX(0)
}
.menu__list{
    position: absolute;
    display: flex;
    flex-direction: column;
    background: transparent;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.menu__link{
    font-size: 1.2rem;
    color: chartreuse;
    padding: 10px;
    cursor: pointer;
}
.hidden{
    transform: translateX(-100%);
    visibility: hidden;
}
.menu-header{
    font-size: 1.5rem;
    color: chartreuse;
    padding: 10px; 
}
.settings-page, .best-score, .saved-games{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.menu-text_big{
    font-size: 1.2rem;
    color: chartreuse;
    padding: 2px;  
}
.menu-text_small{
    font-size: 1rem;
    color: chartreuse;
    padding: 2px; 
}
.sound{
    cursor: pointer;
}
.best-score_link, .saved-games_link{
    display: flex;
    justify-content: space-evenly;
}
.best-score_list, .saved-games_list{
    width: 100%;
}
.parent{
    position: relative;
    width: 100%;
    height: 100%;
}
#back{
    cursor: pointer;
}