.app-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;

    .footer__container {
        max-width: $maxWidth;
        display: flex;
        justify-content: center;
    }
    .header-container {
        max-width: $maxWidth;
        padding: 12px 30px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    
    .content-container {
        max-width: $maxWidth;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    
        @media (max-width: 768px){
            padding-top: 40px;
        }
    }

    .answer-container {
        display: none;
    }

    .title-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}
header {
    height: 70px;
    width: 100%;
    @include fixed(fixed);
    z-index: 10;
    top: 0; 
    background-color: #D1D090;
}
main {
    position: relative;
    margin-top: 70px;
    height: 100%;
    margin-bottom: 50px;
}
footer {
    height: 50px;
    width: 100%;
    background-color: #D1D090;
    @include fixed(fixed);
    bottom: 0;
}
} 


.app-container.playing {

    .title-container {
    justify-content: space-around;
  }

  .answer-container {
    max-width: $maxWidth;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    }

    footer,header {
        background-color: #C2D7D0;
    }

} 



// .app-container.playing footer,
// .app-container.playing header {
//     background-color: #C2D7D0;
// }