.statistics {
    &__container {
    width: 100%;
    padding: 10px;
    }

    &__table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 3px 3px 10px 0 #212121;
    border-collapse: collapse;
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    &__heading {
        background-color: $fontMenuColor;
    }

    &__button {
     @include centerFlex;
     box-shadow: 2px 5px 5px #3a2c37;
     color:  #3A3E4A;
     text-shadow: 2px 5px 5px #3a2c37;
     background-color: $fontMenuColor;
     opacity: 1;
     transform: scale(1.0);
     transition: all .4s ease-in;
     margin-left: 30px;
     margin-bottom: 15px;
     width: 120px;
     height: 40px;

     &:hover {
         opacity: .9;
         transform: scale(1.1);
     }
    }

    &__cell-wrapper {  
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: 22px;
        @media (max-width: 768px) {
            font-size: 12px;
           }

        @media (max-width: 360px) {
        font-size: 10px;
        }
    }
    }

    &__card-wrapper {
        display: flex;
        justify-content: space-evenly;
        border: 1px gray solid;
    }

    &__buttons-wrapper {
        @include colomnFlex(space-evenly);
        
        .up, .down {
            width: 22px;
            @media (max-width: 768px) {
                width: 12px;
               }
            cursor: pointer;

            img{
                width: 100%
            }
        }

    }
}

td {
    border: gray 1px solid;
    @media (max-width: 768px) {
    font-size: 10px;
       }
}

tbody tr:nth-of-type(even) {
    background-color: #eee;
}
