@import '_variables';
@import '_reset';
@import '_burger-menu';
@import '_switcher';
@import '_containers';
@import '_nav';
@import '_category-card';


body{
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}