@import '_variables';
@import '_reset';
@import '_burger-menu';
@import '_switcher';
@import '_containers';
@import '_nav';
@import '_category-card';
@import '_buttons';
@import '_components';
@import '_statistics';

// @font-face {font-family: "Clicker Script"; src: url("//db.onlinewebfonts.com/t/b5cae760e3ebeb67aed58508b5ae4269.eot"); src: url("//db.onlinewebfonts.com/t/b5cae760e3ebeb67aed58508b5ae4269.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b5cae760e3ebeb67aed58508b5ae4269.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b5cae760e3ebeb67aed58508b5ae4269.woff") format("woff"), url("//db.onlinewebfonts.com/t/b5cae760e3ebeb67aed58508b5ae4269.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b5cae760e3ebeb67aed58508b5ae4269.svg#Clicker Script") format("svg"); }

@font-face {
    font-family: 'NerkoOne';
    font-style: regular;
    font-weight: 400;
    src: url(../assets/fonts/NerkoOne-Regular.ttf)
  }

body{
    font-family: 'NerkoOne';
    font-style: normal;
    font-weight: normal;
    color: #3A3E4A;
}

