.chart {
    &__wrapper {
        // max-width: 400px;
        height: 50%;
        order: 2;
        background-color: $backgroundComponent;
        grid-area: chart;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include wrap;

    }

    &__selector-wrapper {
        @include selectorWrap;
        cursor: pointer;
    }

    &__selector {
        @include selector;
        cursor: pointer;
    }
}

canvas {
    cursor: pointer;
    width: 100% !important;
    height: 80% !important;
}

.fullscreen.chart__wrapper {
     @include fullscreenComponent(5%)
}

.fullscreen {
    canvas {
    background-color: #fff;
    }    
}
