.map {
  &__wrapper {
    height: 100%;
    margin: 0 auto;
    background-color:$backgroundComponent;
    grid-area: map;
    @include wrap;
    // max-width: 700px;
    width: 100%;
    min-width: 500px;

    @media (max-width: 900px) {
    min-height: 500px;
   }

    @media (max-width: 768px) {
      min-width: 100%;
   }
  }
  
  &__selector-wrapper {
  @include selectorWrap;
  width: 70%;
  }

  &__selector {
    margin: 10px;
    width: 120px;
    height: 34px;
    border: 1px solid #111;
    border-radius: 3px;
    overflow: hidden;
    background-color: #D1E0EB;
    color:  rgba(12, 60, 96, 1);
  }

  &__selector:hover {
    cursor: pointer;
    font-weight: 700;
  }
}

#map {
  height: 500px;
  width: 100%;
 
  
  @media (max-width: 1068px) {
    height: calc(100% - 40px);
 }

  @media (max-width: 768px) {
    max-width: 100%;
 }
}

.legend {
line-height: 18px;
background-color: #eee;
display: flex;
flex-direction: column;
color: #555;
}
.legend i {
width: 18px;
height: 18px;
float: left;
margin-right: 8px;
opacity: 1;
}
.leaflet-interactive {
cursor: pointer;
fill-opacity: 1;
transform: scale(1);
transition: all .3s ease;

&:hover {
  fill-opacity: 0.7;
  transform: scale(1.002);
  transition: all .3s ease;
}
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  background-color: #D1E0EB !important;
  color:  rgba(12, 60, 96, 1);
}

.leaflet-popup-content p {
  margin: 4px 0;
}

.leaflet-popup-content {
  .type {
    text-transform: uppercase;
    text-align: center;
  }

  .title {
    text-transform: capitalize;
    font-weight: 700;
  }
}