.swiper-container {
  max-width: 400px;
  margin: 0;
  // width: 600px;
  height: 300px;
  background-color: #7DCADA;
  @include wrap;
}

.swiper-button-next {
  width: 20px;
  height: 20px; 
}

.swiper-button-prev {
  width: 20px;
  height: 20px;
}