@import '_reset';
@import '_variables';
@import '_map';
@import '_searchTable';
@import '_table';
@import '_chart';
@import '_keyboard';
@import '_selector';
@import '_updateBoard';
@import '_containers';

.header {
    background-color: rgba(12, 60, 96, 1);
    color: #7DCADA;
    font-size: 1rem;
    grid-area: header;
}

.footer {
    background-color: rgba(12, 60, 96, 1);
    color: #7DCADA;
    font-size: 1rem;
    grid-area: footer;
}

.header {
    background-color: rgba(12, 60, 96, 1);
    color: #7DCADA;
    font-size: 1rem;
    text-align: center;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 98px;
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgba(12, 60, 96, 1);
    color: #7DCADA;
    font-size: 1rem;
}

body {
 
}

.devYear {
    width: inherit;
    font-size: 1rem;
    margin: 0 50px;
}

.rs-school {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: left;
}

.rs-school a {
    outline: none;
    color:  #7DCADA;
}

.devs {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: right; 
}

.devs ul {
    display: flex;
    flex-flow: column;
    justify-content: right;
}
.devs ul li a {
    outline: none;
    color:  #7DCADA;
}

.logo {
    height: 40px;
    width: 80px;
    background-image: url(../assets/svg/rs_school_js.svg);
    background-repeat: no-repeat;
    margin-top: 5px;
    color:  #7DCADA;
}

.component-header {
    display: flex;
    @include selectorWrap;
    width: 100%;
    box-shadow: 0px 3px 8px $transparent-gray;
    border-radius: 7px 7px 0 0;
    // overflow: hidden;
}

main {
    background: #F1F1F5;
}