* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

img {
  vertical-align: top;
}

.app-container .burger-menu {
  position: absolute;
  z-index: 1000;
  height: 50px;
  margin-top: -33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.app-container .burger-menu__btn {
  position: relative;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  background-color: #FFB284;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.app-container .burger-menu__btn:before, .app-container .burger-menu__btn:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  background-color: #FFB284;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.app-container .burger-menu__btn::before {
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
}

.app-container .burger-menu__btn::after {
  -webkit-transform: translateY(13px);
          transform: translateY(13px);
}

.app-container.playing .burger-menu__btn {
  background-color: #D1D090;
}

.app-container.playing .burger-menu__btn:before, .app-container.playing .burger-menu__btn:after {
  background-color: #D1D090;
}

.burger-menu.open .burger-menu__btn {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.burger-menu.open .burger-menu__btn::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.burger-menu.open .burger-menu__btn::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 45px;
}

@media (max-width: 768px) {
  .switch {
    width: 70px;
    height: 35px;
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switcher__identificator {
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  top: 0;
  bottom: 0;
  background-color: #FFB284;
  border-radius: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .4s;
  transition: .4s;
}

.switcher__identificator:before {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  left: 6px;
  bottom: 5px;
  border-radius: 50%;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .4s;
  transition: .4s;
}

@media (max-width: 768px) {
  .switcher__identificator:before {
    width: 25px;
    height: 25px;
  }
}

input:checked + .switcher__identificator {
  background-color: #D1D090;
}

input:focus + .switcher__identificator {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .switcher__identificator:before {
  -webkit-transform: translateX(54px);
          transform: translateX(54px);
}

@media (max-width: 768px) {
  input:checked + .switcher__identificator:before {
    -webkit-transform: translateX(34px);
            transform: translateX(34px);
  }
}

.switcher__mode {
  font-size: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 768px) {
  .switcher__mode {
    font-size: 20px;
  }
}

.switcher-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 240px;
}

@media (max-width: 768px) {
  .switcher-container {
    width: 180px;
  }
}

.app-container {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  position: relative;
}

@media (max-width: 768px) {
  .app-container {
    padding: 0 10px;
  }
}

.app-container .footer__container {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-container .header-container {
  max-width: 1400px;
  padding: 12px 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (max-width: 768px) {
  .app-container .header-container {
    padding: 12px 12px;
  }
}

.app-container .content-container {
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .app-container .content-container {
    padding-top: 40px;
  }
}

.app-container .answer-container {
  display: none;
}

.app-container .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  font-size: 20px;
}

.app-container header {
  height: 70px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  top: 0;
  background-color: #D1D090;
}

@media (max-width: 768px) {
  .app-container header {
    height: 60px;
  }
}

.app-container main {
  position: relative;
  margin-top: 70px;
  height: 100%;
}

@media (max-width: 768px) {
  .app-container main {
    height: 60px;
  }
}

.app-container footer {
  height: 50px;
  width: 100%;
  background-color: #D1D090;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-container.playing .title-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.app-container.playing .answer-container {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.app-container.playing footer, .app-container.playing header {
  background-color: #C2D7D0;
}

.header__nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header__nav .menu-list {
  height: 100vh;
  z-index: 5;
  position: fixed;
  left: -320px;
  top: 0;
  bottom: 0;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 110px 60px 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media (max-width: 768px) {
  .header__nav .menu-list {
    padding: 70px 45px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__nav .menu-list__link {
  font-size: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #D1D090;
  position: relative;
}

@media (max-width: 768px) {
  .header__nav .menu-list__link {
    padding: 12px;
  }
}

.header__nav .menu-list__link::before {
  content: '';
  position: absolute;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  left: 0;
  bottom: 0;
  width: 65%;
  height: 2px;
  background: #D1D090;
  opacity: 0;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

@media (max-width: 768px) {
  .header__nav .menu-list__link::before {
    width: 100%;
  }
}

.header__nav .menu-list__link:hover::before {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__nav .menu-list__link_active::before {
  content: '';
  position: absolute;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  left: 0;
  bottom: 0;
  width: 65%;
  height: 2px;
  background: #D1D090;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 768px) {
  .header__nav .menu-list__link_active::before {
    width: 100%;
  }
}

.burger-menu.open + .menu-list {
  background-color: #86964A;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
}

.app-container.playing .burger-menu.open + .menu-list {
  background-color: #5F9595;
}

.app-container.playing .burger-menu.open + .menu-list__link {
  color: #C2D7D0;
}

.category-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 10px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  -webkit-box-shadow: 0px 2px 9px 8px rgba(13, 13, 13, 0.1);
          box-shadow: 0px 2px 9px 8px rgba(13, 13, 13, 0.1);
}

.category-card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.1);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.1);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.category-card__image {
  width: 82%;
}

.category-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.category-card__title {
  font-size: 25px;
  font-style: bold;
}

.card {
  overflow: hidden;
  position: relative;
  width: 270px;
  height: 270px;
  margin: 30px 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .7s ease-in;
  transition: all .7s ease-in;
  -webkit-box-shadow: 0px 2px 9px 8px rgba(13, 13, 13, 0.1);
          box-shadow: 0px 2px 9px 8px rgba(13, 13, 13, 0.1);
}

.card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.card .turn {
  width: 40px;
  height: 40px;
}

.card .turn img {
  width: 100%;
  height: 100%;
}

.card__image {
  width: 82%;
  overflow: hidden;
  padding-top: 15px;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__content {
  opacity: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  padding: 10px;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__front, .card__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
}

.card__front {
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  background-color: #F09B79;
}

.card__back {
  background-color: #FFB284;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.front-rotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.back-rotate {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.app-container.playing .card[data-checked="true"] {
  opacity: .3;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: none;
  transition: none;
  cursor: default;
}

.app-container.playing .card[data-checked="true"]:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: none;
  transition: none;
  cursor: default;
}

.app-container.playing .card__front {
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  background-color: #F4CABB;
}

.app-container.playing .card__back {
  display: none;
}

.app-container.playing .card__image {
  width: 100%;
  overflow: hidden;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.app-container.playing .card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.app-container.playing .card__content {
  height: 0;
  opacity: 0;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.button__play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  background-color: cadetblue;
}

.star {
  width: 50px;
  height: 50px;
}

.app-container .divider {
  width: 100%;
  height: 2px;
  background-color: #FFB284;
}

.app-container.playing .divider {
  background-color: #D1D090;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  z-index: 2000;
  background-color: rgba(33, 33, 33, 0.5);
}

.overlay__box {
  background-color: #fff;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay__box img {
  width: 75%;
  height: 75%;
}

.overlay .answer {
  font-size: 20px;
  margin-top: 15px;
}

.overlay .success {
  border: 4px solid green;
  -webkit-box-shadow: 5px 6px 25px black;
          box-shadow: 5px 6px 25px black;
  text-shadow: 2px 1px 6px green;
}

.overlay .fail {
  border: 2px solid red;
  -webkit-box-shadow: 5px 6px 25px black;
          box-shadow: 5px 6px 25px black;
  text-shadow: 2px 1px 6px red;
}

.statistics__container {
  width: 100%;
}

.statistics__table {
  width: 100%;
  margin: 10px 20px;
  -webkit-box-shadow: 3px 3px 10px 0 #212121;
          box-shadow: 3px 3px 10px 0 #212121;
  border-collapse: collapse;
}

.statistics__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.statistics__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 10px 0 #212121;
          box-shadow: 3px 3px 10px 0 #212121;
  background-color: gray;
  margin-left: 30px;
  margin-bottom: 15px;
  width: 120px;
  height: 40px;
}

.statistics__cell-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics__cell-wrapper .title {
  font-size: 22px;
}

@media (max-width: 768px) {
  .statistics__cell-wrapper .title {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .statistics__cell-wrapper .title {
    font-size: 10px;
  }
}

.statistics__card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px gray solid;
}

.statistics__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.statistics__buttons-wrapper .up, .statistics__buttons-wrapper .down {
  width: 22px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .statistics__buttons-wrapper .up, .statistics__buttons-wrapper .down {
    width: 12px;
  }
}

.statistics__buttons-wrapper .up img, .statistics__buttons-wrapper .down img {
  width: 100%;
}

td {
  border: gray 1px solid;
}

@media (max-width: 768px) {
  td {
    font-size: 10px;
  }
}

tr:nth-of-type(odd) {
  background-color: #eee;
}

body {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
